
:root {
   ----color-red: #ff1e00;
   ----color-green: #85be08;
   ----color-blue-grey: #e9eaff;
   ----color-orange: #ff6300;
   ----color-text-grey: #696969;
   ----color-text-white: #ffffff;
   ----color-white: #ffffff;
   ----border-radius:.2rem;
   
}
/* be-vietnam-pro-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/be-vietnam-pro-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* be-vietnam-pro-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/be-vietnam-pro-v11-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mitr-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/mitr-v11-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body p {
  font-family: 'Be Vietnam Pro';
  color: var(----color-text-grey);
  font-weight: 400;
}

img {
  border: none;
  box-shadow: none;
}

h1 {
  font-family: 'Be Vietnam Pro';
  color: var(----color-red);
  font-weight: 900;
}
h2 {
  font-family: 'Be Vietnam Pro';
  color: var(----color-red);
  font-weight: 900;
}
h3 {
  font-family: 'Be Vietnam Pro';
  color: var(----color-red);
  font-weight: 900;
}
h4 {
  font-family: 'Be Vietnam Pro';
  color: var(----color-red);
  font-weight: 900;
}
h5 {
  font-size: .9rem;
  font-family: 'Be Vietnam Pro';
  color: var(----color-red);
  font-weight: 900;
}

.bg-red {
  background-color: var(----color-red);
}
.container {
  max-width: 65rem;
}
.custom-radius {
  border-radius: var(----border-radius);
}

/* -----------scrollbar */
.card {
  width: 16rem;
  border: none;
  transition: transform 0.3s ease;
}
.card-title {
  color: var(----color-text-white);
}
.card:hover {
  transform: scale(1.1);
  cursor: pointer;
  border: none;
}
/* -----------scrollbar */

/* -----------scrollbar */
html::-webkit-scrollbar{
  width: 6px;
  }
  html {
  scrollbar-width: thin;
  scrollbar-color:  var(----color-red)  var(----color-white);
  }
  html::-webkit-scrollbar-thumb {
  border-radius: 0;
  border: none;
  }
/* -----------scrollbar */
  
/* -----------dialog */
  dialog {
    width: 70%;
    max-height: 50rem;
    border: none;
    box-shadow: none;
    background-color: var(----color-white);
    border-radius: var(----border-radius);
    overflow: hidden;
     padding: 0;
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0.8);
}
:focus-visible {
  outline: none;
}
.img-dialog {
 width: 20rem;
}
.img-dialog-anzeige {
  width: 4rem;
}
.dialog-content {
    border: none;
    background-color: var(----color-white);
    padding: 20px;
    text-align: center;
}
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: var(----color-red);
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    opacity: .7;
    text-decoration: none;
}
/* -----------dialog */

/* -------------nav */
.nav-link {
  font-family: 'Be Vietnam Pro';
  font-weight: 900;
}

.img-nav {
  width: 3rem;
}

.logo-nav {
  width: 7rem;
}
  @media (max-width: 767.98px) {
    .navbar-nav {
      text-align: center;
      width: 100%;
    }
    .navbar-nav .nav-link {
      display: inline-block;
      float: none;
    }
  }
/* -------------nav */

/* -------------nmaps */
.maps {
  border-radius: var(----border-radius);
}
/* -------------nmaps */

/* -------------formular */
.form-custom {
  background-color: red;
}
/* -------------formular */