
:root {
   ----color-red: #E81B00;
   ----color-green: #85be08;
   ----color-blue-grey: #e9eaff;
   ----color-orange: #ff6300;
   ----color-text-grey: #390600;
   ----color-text-white: #ffffff;
   ----color-white: #ffffff;
   ----border-radius:.2rem;
}

/* font */
/* be-vietnam-pro-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/be-vietnam-pro-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* be-vietnam-pro-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/be-vietnam-pro-v11-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body p {
  font-family: 'Be Vietnam Pro';
  color: var(----color-text-grey);
  font-weight: 400;
}
h1 {
  font-family: 'Be Vietnam Pro';
  color: var(----color-red);
  font-weight: 900;
}
h2 {
  font-family: 'Be Vietnam Pro';
  color: var(----color-red);
  font-weight: 900;
}
h3 {
  font-family: 'Be Vietnam Pro';
  color: var(----color-red);
  font-weight: 900;
}
h4 {
  font-family: 'Be Vietnam Pro';
  color: var(----color-red);
  font-weight: 900;
}
h5 {
  font-size: .9rem;
  font-family: 'Be Vietnam Pro';
  color: var(----color-red);
  font-weight: 900;
}
.text-red {
  color: var(----color-red);
  font-weight: bold;
 }
/* font */

/* Generell */
img {
  border: none;
  box-shadow: none;
}
.bg-red {
  background-color: var(----color-red);
}
.container {
  max-width: 65rem;
}
.custom-radius {
  border-radius: var(----border-radius);
}
/* Generell */

/* -----------card */
.card {
  width: 13rem;
  border: none;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.1);
  cursor: pointer;
  border: none;
}
.h5-card {
  font-size: 1.4rem;
  color: var(----color-text-grey);
}
@media screen and (max-width:770px) {
  .card {
    width: 27rem;
    border: none;
    transition: transform 0.3s ease;
  }
  .h5-card {
    font-size: 1.6rem;
    color: var(----color-text-grey);
  }
}
/* -----------card */

/* -----------scrollbar */
html::-webkit-scrollbar{
  width: 6px;
  }
  html {
  scrollbar-width: thin;
  scrollbar-color:  var(----color-red)  var(----color-white);
  }
  html::-webkit-scrollbar-thumb {
  border-radius: 0;
  border: none;
  }
/* -----------scrollbar */
  
/* -----------dialog */
dialog {
  width: 70%;
  max-height: 50rem;
  border: none;
  box-shadow: none;
  background-color: var(----color-white);
  border-radius: var(----border-radius);
  overflow: hidden;
  padding: 0;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}
:focus-visible {
  outline: none;
}
.img-dialog {
  height: 25rem;
}
.img-dialog-anzeige {
  width: 4rem;
}
dialog h2 {
  margin-top: 0rem;
}
.dialog-content {
  border: none;
  /* background-color: var(----color-white); */
  padding: 20px;
  padding-right: 2rem;
  text-align: center;
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(----color-red);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  opacity: .7;
  cursor: pointer;
  text-decoration: none;
}
@media screen and (max-width: 990px) {
  .dialog-icon {
    display: none;
  }
  .img-dialog {
    height: 18rem;
  }
  dialog h2 {
    font-size: 1.1rem;
    margin-top: 2rem;
  }
  dialog h3 {
    font-size: 1.1rem;
  }
  dialog p {
    font-size: .9rem;
  }
  dialog {
    width: 90%;
    max-height: 50rem;
    border: none;
    box-shadow: none;
    background-color: var(----color-white);
    border-radius: var(----border-radius);
    overflow: hidden;
    padding: 0;
  }
}
/* -----------dialog */

/* -------------nav */
.nav-link {
  font-family: 'Be Vietnam Pro';
  font-weight: 900;
}
.nav-link:hover {
  cursor: pointer;
}
.img-nav {
  width: 1.7rem;
}
.logo-nav {
  width: 7rem;
}
.navbar-toggler {
  border: none;
  color: rgba(255, 255, 255, 0);
}
.navbar-toggler:hover {
  opacity: .8;
}
nav a:hover {
  opacity: .8;
  cursor: pointer;
}
  @media (max-width: 767.98px) {
    .navbar-nav {
      text-align: center;
      width: 100%;
    }
    .navbar-nav .nav-link {
      display: inline-block;
      float: none;
    }
    .navbar-nav  {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }
/* -------------nav */

/* -------------nmaps */
.maps {
  border-radius: var(----border-radius);
}
/* -------------nmaps */

/* -------------formular */
input {
  padding: 1rem;
  border: none;
  border-radius: var(----border-radius);
  width: 100%;
  background-color: var(----color-white);
  margin-bottom: 1rem;
}
.form-check-input {
  border: none;
}
.form-label {
  border: none;
}
.img-danke {
  width: 10rem;
  margin-top: 0rem;
}
.danke {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media screen and (max-width:1200px) {
  .img-danke {
    width: 10rem;
    margin-top: 3rem;
  }
  .danke {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
/* -------------formular */

/* -------------footer */
.img-footer {
  width: 2rem;
}
.logo-footer {
  width: 7rem;
}
.footer-link {
  text-decoration: none;
}
footer a:hover {
  opacity: .6;
  cursor: pointer;
}
footer p {
  font-size: .8rem;
}
/* -------------footer */

/* header */
.danke-header{
  background-image: url(../img/pizzaheader2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 14rem;
}
.kontakt-header{
  background-image: url(../img/pizzaheader2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 20rem;
}
.header-pizza {
  background-image: url(../img/pizzaheader2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 28rem;
}
.header-artikel {
  background-image: url(../img/header-artikel.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 28rem;
}
.index-header {
  width: 100%;
  height: 35rem;
  background-image: url(../img/pizzaheader.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.gif {
  width: 20rem;
  margin-top: 3rem;
}
/* header */

/* kontakt */
.kontakt-icon {
  width: 3rem;
  margin-right: 1rem;
}
.img-kontakt {
  width: 5rem;
}
/* kontakt */

/* button */
button {
  border: none;
  background-color: var(----color-white);
  font-family: 'Be Vietnam Pro';
  color: var(----color-red);
  font-weight: 900;
  border-radius: var(----border-radius);
  padding: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: transform 0.3s ease;
}
button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/* button */

/* radio */
.img-radio {
  width: 5rem;
}
.audio {
  background-image: url(../img/pizzaofen.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
audio {
  max-width: 30rem;
}
    audio {
      padding: .7rem;
      border: 2px solid #ffffff;
      border-radius: var(----border-radius);
      background-color: #ffffff;
      box-shadow: 0 4px 8px transparent;
  }
/* radio */

/* social-media-icons */
.social-media-icons {
  position: fixed;
  top: 51%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #E81B00;
  border-radius: 0px var(----border-radius) var(----border-radius) 0px;
}
.social-media-icons .icon {
  display: block;
  width: 40px;
  height: 40px;
  color: white;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  border-radius: var(----border-radius);
}
.icon:hover {
  opacity: .8;
  cursor: pointer;
}
@media screen and (max-width:1200px) {
  .social-media-icons {
  position: fixed;
  top: 96%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  background-color: #E81B00;
  border-radius: 0px var(----border-radius) var(----border-radius) 0px;
}
}
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 0;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(----color-red);
  color: white;
  cursor: pointer;
  padding: 15px;
  transition: opacity 0.3s;
  border-radius:var(----border-radius) 0px 0px var(----border-radius);
}
#scrollToTopBtn:hover {
 opacity: .8;
  cursor: pointer;
}
@media screen and (max-width:900px) {
  #scrollToTopBtn {
    top: 93%;
    bottom: auto;
  }
}
/* Scroll to Top Button */

/* carousel */
.img-carousel {
  width: 15rem;
}
.carousel-container {
  height: 30rem;
  padding-top: 2rem;
}
.carousel-control-prev {
  height: 10rem;
}
.carousel-control-next {
  height: 10rem;
}
.carousel-control-prev-icon {
  background: #85be08;
}
.carousel-control-next-icon {
  background-image: url(../img/pfeil-rechts.png);
  background-size: cover;
  background-repeat: no-repeat;
}
/* carousel */

/* Stil für Fokus-Effekte */
.form-custom input:focus,
.form-custom textarea:focus {
  border-color: var(----color-white);
  outline: none;
  box-shadow: none;
}

.form-check-input:checked {
  background-color: var(----color-red);
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #ffffff;
  outline: 0;
  box-shadow: none;
}
/* Stil für Fokus-Effekte */

/* bg */
.bg-packaging  {
  width: 100%;
  height: 30rem;
  background-image: url(../img/bg-packaging.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* cbg */

/* cta */
.cta {
  width: 100%;
  height: 30rem;
  background-image: url(../img/cta6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cta h3 {
  background-color: var(----color-red);
  padding: 1rem;
  border-radius: var(----border-radius);
}
/* cta */















.custom-beschreibung {
  max-width: 40rem;
}
.artikel-img {
  height: 9rem;
}

.bg-none {
  background-color: none;
}


