
:root {
   ----color-red: #ff1e00;
   ----color-green: #85be08;
   ----color-blue-grey: #e9eaff;
   ----color-orange: #ff6300;
   ----color-text-grey: #390600;
   ----color-text-white: #ffffff;
   ----color-white: #ffffff;
   ----border-radius:.2rem;
}
/* be-vietnam-pro-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/be-vietnam-pro-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* be-vietnam-pro-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/be-vietnam-pro-v11-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mitr-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Mitr';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/mitr-v11-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body p {
  font-family: 'Be Vietnam Pro';
  color: var(----color-text-grey);
  font-weight: 400;
}

img {
  border: none;
  box-shadow: none;
}

h1 {
  font-family: 'Be Vietnam Pro';
  color: var(----color-red);
  font-weight: 900;
}
h2 {
  font-family: 'Be Vietnam Pro';
  color: var(----color-red);
  font-weight: 900;
}
h3 {
  font-family: 'Be Vietnam Pro';
  color: var(----color-red);
  font-weight: 900;
}
h4 {
  font-family: 'Be Vietnam Pro';
  color: var(----color-red);
  font-weight: 900;
}
h5 {
  font-size: .9rem;
  font-family: 'Be Vietnam Pro';
  color: var(----color-red);
  font-weight: 900;
}

.bg-red {
  background-color: var(----color-red);
}
.container {
  max-width: 65rem;
}
.custom-radius {
  border-radius: var(----border-radius);
}

/* -----------card */
.card {
  width: 13rem;
  border: none;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.1);
  cursor: pointer;
  border: none;
}
@media screen and (max-width:770px) {
  .card {
    width: 27rem;
    border: none;
    transition: transform 0.3s ease;
  }
}
/* -----------card */

/* -----------scrollbar */
html::-webkit-scrollbar{
  width: 6px;
  }
  html {
  scrollbar-width: thin;
  scrollbar-color:  var(----color-red)  var(----color-white);
  }
  html::-webkit-scrollbar-thumb {
  border-radius: 0;
  border: none;
  }
/* -----------scrollbar */
  
/* -----------dialog */
/* General dialog styles */
dialog {
  width: 70%;
  max-height: 50rem;
  border: none;
  box-shadow: none;
  background-color: var(----color-white);
  border-radius: var(----border-radius);
  overflow: hidden;
  padding: 0;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.8);
}
:focus-visible {
  outline: none;
}
.img-dialog {
  width: 20rem;
}
.img-dialog-anzeige {
  width: 4rem;
}
dialog h2 {
  margin-top: 0rem;
}
.dialog-content {
  border: none;
  /* background-color: var(----color-white); */
  padding: 20px;
  padding-right: 2rem;
  text-align: center;
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: var(----color-red);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  opacity: .7;
  cursor: pointer;
  text-decoration: none;
}

/* Mobile styles */
@media screen and (max-width: 990px) {
  .dialog-icon {
    display: none;
  }
  dialog h2 {
    font-size: 1.1rem;
    margin-top: 2rem;
  }
  dialog h3 {
    font-size: 1.1rem;
  }
  dialog p {
    font-size: .9rem;
  }
  .img-dialog {
    width: 15rem;
  }
  dialog {
    width: 90%;
    max-height: 50rem;
    border: none;
    box-shadow: none;
    background-color: var(----color-white);
    border-radius: var(----border-radius);
    overflow: hidden;
    padding: 0;
  }
}
/* -----------dialog */

/* -------------nav */
.nav-link {
  font-family: 'Be Vietnam Pro';
  font-weight: 900;
}
.img-nav {
  width: 3rem;
}
.logo-nav {
  width: 7rem;
}
  @media (max-width: 767.98px) {
    .navbar-nav {
      text-align: center;
      width: 100%;
    }
    .navbar-nav .nav-link {
      display: inline-block;
      float: none;
    }
  }
/* -------------nav */

/* -------------nmaps */
.maps {
  border-radius: var(----border-radius);
}
/* -------------nmaps */

/* -------------formular */

input {
  padding: 1rem;
  border: none;
  border-radius: var(----border-radius);
  width: 100%;
  background-color: var(----color-white);
  margin-bottom: 1rem;
}
.form-check-input {
  border: none;
}
.form-label {
  border: none;
}
/* -------------formular */


/* -------------footer */
.img-footer {
  width: 2rem;
}
.logo-footer {
  width: 7rem;
}
.footer-link {
  text-decoration: none;
}
footer a:hover {
  opacity: .6;
  cursor: pointer;
}

footer p {
  font-size: .8rem;
}
/* -------------footer */

.header {
  background-image: url(../img/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 20rem;
}

.header-artikel {
  background-image: url(../img/header-artikel.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 28rem;
}

.artikel-img {
  height: 9rem;
}

.index-header {
  width: 100%;
  height: 35rem;
  background-image: url(../img/head1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.kontakt-icon {
  width: 3rem;
  margin-right: 1rem;
}

.img-kontakt {
  width: 5rem;
}

button {
  border: none;
  background-color: var(----color-white);
  font-family: 'Be Vietnam Pro';
  color: var(----color-red);
  font-weight: 900;
  border-radius: var(----border-radius);
  padding: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: transform 0.3s ease;
}
button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.bg-none {
  background-color: none;
}

.card-title {
   color: var(----color-text-grey);
}

.clip-container {
  width: 300px;
  height: 300px;
  background-image: url('../img/platzhalter\ Kopie.jpg'); /* Ersetze 'dein-bild-url.jpg' mit dem Pfad zu deinem Bild */
  background-size: cover;
  background-position: center;
  clip-path: url(../tryout.svg/#svgClip);
  -webkit-clip-path: url(../tryout.svg/#svgClip);
}

audio {
  width: 100%;
}

.custom-cta {
  background-image: url(../img/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.text-red {
 color: var(----color-red);
 font-weight: bold;
}
.custom-beschreibung {
  max-width: 40rem;
}

/* Scroll to Top Button */
#scrollToTopBtn {
  display: none; /* Button ist standardmäßig versteckt */
  position: fixed; /* Fest positioniert */
  bottom: 20px; /* Abstand vom unteren Rand */
  right: 30px; /* Abstand vom rechten Rand */
  z-index: 99; /* Sicherstellen, dass der Button über anderem Inhalt liegt */
  font-size: 18px; /* Schriftgröße */
  border: none; /* Keine Umrandung */
  outline: none; /* Keine Umrandung bei Fokus */
  background-color: #555; /* Hintergrundfarbe */
  color: white; /* Schriftfarbe */
  cursor: pointer; /* Mauszeiger wird zur Hand */
  padding: 15px; /* Innenabstand */
  border-radius: 4px; /* Abgerundete Ecken */
  transition: opacity 0.3s; /* Sanfte Einblendung */
}

#scrollToTopBtn:hover {
  background-color: #333; /* Dunklere Farbe bei Hover */
}